<div class="form" id="part">

    <img src="/static/close.png" width="4%" align="right" alt="" class="btn" type="button"
        hx-get="{% url 'app:deletepartial' %}" hx-target="#part" hx-swap="outerHTML" style="text-align: right;">
    {% comment %} {% csrf_token %}

    {% for item in qoutes %}
    <input value="{{item.0.Labour.prize}}" type="hidden" name="labourrate" readonly />
    <input value="{{item.0.Trans.prize}}" type="hidden" name="tranportrate" readonly />
    {% endfor %} {% endcomment %}
    <hr style="border: 10px solid #f0a502;border-radius: 5px;" />
    <div class="row">
        <h4>Frame Size</h4>
        <div class="col input-group input-group-icon">
            <input type="tel" step="any" placeholder="Width Of Window/Door" name="width" />
            <div class="input-icon">
                <i class="fas fa-arrows-alt-h"></i>
            </div>
        </div>
        <div class="col input-group input-group-icon">
            <input type="tel" step="any" placeholder="Height Of Window/Door" name="height" />
            <div class="input-icon">
                <i class="fas fa-arrows-alt-v"></i>
            </div>
        </div>
    </div>


    <div class="row">
        <h4>Frame Details</h4>
        <div class=" input-group input-group-icon" style="padding-top: 15px;
        float: left;
        width: 15%;">
            <label for="Product">Select Product:</label></div>
        <div class="input-group input-group-icon" style="padding: 11px;
                        float: left;
                        width: 40%;
                        text-align: -webkit-left;">
            <select id="product{{no}}" name="product">
                {% for i in products %}
                <option value="{{i.code}}-{{i}}">
                    {{i.name}}
                </option>
                {% endfor %}
            </select>
        </div>

    </div>
    <div class="row">

        <div class="col-half input-group input-group-icon">
            <label for="qty">Quantity</label>
            <input id="qty{{no}}" name="qty" type="number" value="1" />
        </div>

        <div class="col-half input-group input-group-icon">
            <label for="Location">Location</label>
            <select id="location{{no}}" name="location">
                {% for i in location %}
                <option value='{{i.name}}'>{{i}}
                </option>
                {% endfor %}
            </select>
        </div>

        <div class="col-half input-group input-group-icon">
            <label for="coating">Select Coating:</label>
            <select id="coating{{no}}" name="coating">
                {% for i in coat %}
                <option value='{{i.name}}'>
                    {{i}}
                </option>
                {% endfor %}
            </select>
        </div>
    </div>

    <div class="row" style="border: 1px solid #b9b9b9;">
        <div class="col-half input-group input-group-icon">
            <label for="frametype">Select Frame:</label>
            <select id="frametype{{no}}" name="frametype">
                {% for i in frame %}
                <option value=" {{ i.name }} "> {{i.name}} </option>

                {% endfor %}
            </select>
        </div>
        <div class=" col-half input-group input-group-icon">
            <label for="framesize">Select length:</label>
            <select id="framesize{{no}}" name="framesize">
                {% for i in length %}
                <option value='{{i.name}}'> {{i}} </option>
                {% endfor %}
            </select>
        </div>
        <div class=" col-forth input-group input-group-icon">
            <input type="tel" step="any" list="frameweight" placeholder="Weight" name="frameweight" />
            <datalist id="frameweight{{no}}">
                {% for i in weight %}
                <option value='{{i.name}}'>{{i}}
                </option>
                {% endfor %}
            </datalist>
        </div>
        <div class=" col-forth input-group input-group-icon">
            <input type="tel" step="any" placeholder="Rate/kg" name="framerate" />
        </div>
        {% comment %} <div class=" col-half input-group input-group-icon" style="float: right;">
            <input type="text" placeholder="Coating Rate" name="framecoat" />
        </div> {% endcomment %}
    </div>
    <div class="row" style="border: 1px solid #b9b9b9;">
        <div class=" col-half input-group input-group-icon">
            <label for="shuttertype">Select Shutter:</label>
            <select id="shuttertype{{no}}" name="shuttertype">
                {% for i in shutter %}
                <option value='{{i.name}}'>{{i}}
                </option>
                {% endfor %}
            </select>
        </div>
        <div class=" col-half input-group input-group-icon">
            <label for="shuttersize">Select length:</label>
            <select id="shuttersize{{no}}" name="shuttersize">
                {% for i in length %}
                <option value='{{i.name}}'>{{i}}
                </option>
                {% endfor %}
            </select>
        </div>
        <div class=" col-forth input-group input-group-icon">
            <input type="tel" list="shutterweight" step="any" placeholder="Weight" name="shutterweight" />
            <datalist id="shutterweight{{no}}">
                {% for i in length %}
                <option value="{{i}}">{{i}}
                </option>
                {% endfor %}
            </datalist>
        </div>
        <div class=" col-forth input-group input-group-icon">
            <input type="tel" step="any" placeholder="Rate/kg" name="shutterrate" />
        </div>
        {% comment %} <div class=" col-half input-group input-group-icon" style="float: right;">
            <input type="text" placeholder="Coating Rate" name="shuttercoat" />
        </div> {% endcomment %}
    </div>
    <div class="row" style="border: 1px solid #b9b9b9;">
        <div class=" col-half input-group input-group-icon">
            <label for="lpattitype">Select I/L patti:</label>
            <select id="lpattitype{{no}}" name="lpattitype">
                {% for i in ilpatti %}
                <option value="{{i}}">{{i}}
                </option>
                {% endfor %}
            </select>
        </div>
        <div class=" col-half input-group input-group-icon">
            <label for="lpattisize">Select length:</label>
            <select id="lpattisize{{no}}" name="lpattisize">
                {% for i in length %}
                <option value="{{i}}">{{i}}
                </option>
                {% endfor %}
            </select>
        </div>
        <div class=" col-forth input-group input-group-icon">
            <input type="tel" list="lpattiweight" step="any" placeholder="Weight" name="lpattiweight" />
            <datalist id="lpattiweight{{no}}">
                {% for i in length %}
                <option value="{{i}}">{{i}}
                </option>
                {% endfor %}
            </datalist>
        </div>
        <div class=" col-forth input-group input-group-icon">
            <input type="tel" step="any" placeholder="Rate/kg" name="lpattirate" />
        </div>
        {% comment %} <div class=" col-half input-group input-group-icon" style="float: right;">
            <input type="text" placeholder="Coating Rate" name="lpatticoat" />
        </div> {% endcomment %}
    </div>
    <div class="row" style="border: 1px solid #b9b9b9;">
        <div class=" col-half input-group input-group-icon">
            <label for="uchannel_type">Select Uchannel:</label>
            <select id="uchannel_type{{no}}" name="uchannel_type">
                {% for i in uch %}
                <option value="{{i}}">{{i}}
                </option>
                {% endfor %}
            </select>
        </div>
        <div class=" col-half input-group input-group-icon">
            <label for="uchannel_size">Select length:</label>
            <select id="uchannel_size{{no}}" name="uchannel_size">
                {% for i in length %}
                <option value="{{i}}">{{i}}
                </option>
                {% endfor %}
            </select>
        </div>
        <div class=" col-forth input-group input-group-icon">
            <input type="tel" list="uchannel_weight" step="any" placeholder="Weight" name="uchannel_weight" />
            <datalist id="uchannel_weight{{no}}">
                {% for i in length %}
                <option value="{{i}}">{{i}}
                </option>
                {% endfor %}
            </datalist>
        </div>
        <div class=" col-forth input-group input-group-icon">
            <input type="tel" step="any" placeholder="Rate/kg" name="uchannel_rate" />
        </div>
        {% comment %} <div class=" col-half input-group input-group-icon" style="float: right;">
            <input type="text" placeholder="Coating Rate" name="uchannel_coat" />
        </div> {% endcomment %}
    </div>
    <div class="row" style="border: 1px solid #b9b9b9;">
        <div class=" col-half input-group input-group-icon">
            <label for="glasstype">Select Glass:</label>
            <select id="glasstype{{no}}" name="glasstype">
                {% for i in glass %}
                <option value='{{i.name}}'>
                    {{i}}
                </option>
                {% endfor %}
            </select>
        </div>
        <div class=" col-forth input-group input-group-icon">
            <input type="tel" step="any" placeholder="Glass Rate(Rs/sq.foot)" name="glassrate" />
        </div>
        <div class=" col-half input-group input-group-icon">
            <label for="nettype">Select Mosquito Net:</label>
            <select id="nettype{{no}}" name="nettype">
                {% for i in net %}
                <option value='{{i.name}}'>
                    {{i }}
                </option>
                {% endfor %}
            </select>
        </div>
        <div class=" col-forth input-group input-group-icon">
            <input type="tel" step="any" placeholder="Net Rate(Rs/sq.foot)" name="netrate" />
        </div>
    </div>


    <div class="row" style="border: 1px solid #b9b9b9;">
        <div class=" col-half input-group input-group-icon">

            <label for="qty">Enter PushLock Rate</label>
            <input type="tel" step="any" value="0" name="pushlock" />
        </div>

        <div class="col-half input-group input-group-icon">


            <label for="qty">Enter HandleLock Rate</label>
            <input type="tel" step="any" value="0" name="handlelock" />
        </div>
    </div>
    <div class="row" style="border: 1px solid #b9b9b9;">
        <div class=" col-half input-group input-group-icon">
            <label for="qty">Enter Labour Charge Per sq.ft</label>
            <input type="tel" step="any" value="0" name="labourrate" />
        </div>
        <div class="col-half input-group input-group-icon">
            <label for="qty">Enter Transport Charge</label>

            <input type="tel" step="any" value="0" name="transportrate" />
        </div>
    </div>
</div>
<div class="row" id="replace" style="border: 1px solid #b9b9b9;">
    <div class="">
        <button class="btn" type="button" hx-get="{% url 'app:partial' no %}" hx-target="#replace"
            hx-swap="outerHTML">Add More Product</button>
    </div>
</div>