<style>
body {
    background: grey;
    margin-top: 120px;
    margin-bottom: 120px;
}

.btn{

    background-color: aqua;
}
</style>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!--Include the above in your HEAD tag -->
<div class="container">
    <form action="/tab_content" method="post">
        {% csrf_token %}

    {% for item in qoutes %}
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body p-0">
                    {% comment %} <div class="row p-5">
                        <div class="col-md-6">
                            <img src="http://via.placeholder.com/400x90?text=logo">
                        </div>

                        <div class="col-md-6 text-right">
                            <p class="font-weight-bold mb-1">Invoice #550</p>
                            <p class="text-muted">Due to: 4 Dec, 2019</p>
                            <p class="font-weight-bold mb-4">Client Information</p>
                            <p class="mb-1">John Doe, Mrs Emma Downson</p>
                            <p>Acme Inc</p>
                            <p class="mb-1">Berlin, Germany</p>
                            <p class="mb-1">6781 45P</p>
                        </div>
                    </div> {% endcomment %}

                    <hr class="my-5">

                    <div class="row pb-5 p-5">
                        <div class="col-md-6">
                            <p class="font-weight-bold mb-4">Product Information</p>
                            
                            <p class="mb-1">Product Type :<b>{{item.1.product}}</b></p>
                            <p class="mb-1">Product code :<b>{{item.1.pd_code}}</b></p>
                            <p class="mb-1">Product size :<b>{{item.1.w}}W x {{item.1.h}}H</b></p>
                            <p class="mb-1">Location:<b>{{item.1.location}}</b></p>
                            <p class="mb-1">Quantity:<b>{{item.1.qty}}</b></p>
                            <input value="{{item.1.pd_code}}" type="hidden" name="product" readonly/>
                            <input value="{{item.1.w}}" type="hidden" name="w" readonly/>
                            <input value="{{item.1.h}}" type="hidden" name="h" readonly/>
                            <input value="{{item.1.location}}" type="hidden" name="location" readonly/>
                            <input value="{{item.1.qty}}" type="hidden" name="qty" readonly/>
                        </div>
                        <div class="col-md-6 text-right">
                            <p class="font-weight-bold mb-4">Quatation Details</p>
                            <p class="mb-1"><span class="text-muted">Quatation ID: </span> 10253642</p>
                            {% comment %} <p class="mb-1"><span class="text-muted">Payment Type: </span> Root</p>
                            <p class="mb-1"><span class="text-muted">Name: </span> John Doe</p> {% endcomment %}
                        </div>
                    </div>

                    <div class="row p-5">
                        <div class="col-md-12">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th class="border-0 text-uppercase small font-weight-bold">ID</th>
                                        <th class="border-0 text-uppercase small font-weight-bold">Item</th>
                                        <th class="border-0 text-uppercase small font-weight-bold">Description</th>
                                        <th class="border-0 text-uppercase small font-weight-bold">Quantity</th>
                                        <th class="border-0 text-uppercase small font-weight-bold">Weight</th>
                                        <th class="border-0 text-uppercase small font-weight-bold">Unit Cost</th>
                                        <th class="border-0 text-uppercase small font-weight-bold">Coating Cost</th>
                                        <th class="border-0 text-uppercase small font-weight-bold">Total</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for key,value in item.0.items %}
                                    <tr>
                                        <td>1</td>
                                        <td>{{key}}</td>
                                        <td>{{value.type}}</td>
                                        <td>{{value.size}}</td>
                                        <td>{{value.weight}}</td>
                                        <td>{{value.rate}}</td>
                                        <td>{{value.coat}}</td>
                                        <td>{{value.prize}}</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="d-flex flex-row-reverse bg-dark text-white p-4">
                        <div class="py-3 px-5 text-right">
                            <div class="mb-2">Grand Total</div>
                            <div class="h2 font-weight-light">{{item.1.grand_total}}</div>
                            <input value="{{item.1.grand_total}}" type="hidden" name ="total" readonly/>
                        </div>

                        <div class="py-3 px-5 text-right">
                            <div class="mb-2">Coating Total</div>
                            <div class="h2 font-weight-light">{{item.1.coat_total}}</div>
                        </div>

                        <div class="py-3 px-5 text-right">
                            <div class="mb-2">Total amount</div>
                            <div class="h2 font-weight-light">{{item.1.total}}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
    <div class="text-light mt-5 mb-5 text-center small">
       
        <input id="submit" type="submit" class="btn" />
        
    </div>
  
</div>
</form>

