{% load static %}
<style>  
        table {
            width:100%;
            margin:30px 0px;
        }
        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
        }
        th, td {
            padding: 5px;
            text-align: left;
            max-width: 130px;
        }
        table tr:nth-child(even) {
            background-color: #fff;
        }
        table tr:nth-child(odd) {
           background-color:#eee;
        }
        table th	{
            background-color: black;
            color: white;
        }

</style>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
      rel="stylesheet"
      id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!--Include the above in your HEAD tag -->
<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body p-0">
                    {% for item in data %}
                        <table>
                            <tr >
                                <td colspan="1">Sr.No</td>
                                <td colspan="3">W01</td>
                                <td>Size</td>
                                <td>W X{{ item.w }}</td>
                                <td>H X{{ item.h }}</td>
                                <td></td>
                            </tr>
                            <tr >
                                <td colspan="1">Location</td>
                                <td colspan="3">{{ item.location }}</td>
                                <td>Section Details</td>
                                <td colspan="3">{{ item.product.name }}</td>
                            </tr>
                            <tr >
                                <td colspan="4" style="text-align: center; background-color:white">1814</td>
                                <td colspan="4">Computer Values</td>
                            </tr>
                            <tr style="height: 30px;">
                                <td colspan="3" rowspan="6" style="text-align: center; max-width:50%">
                                    <img src ="{{ item.product.image }}" style="max-height:500px;">
                                </td>
                                <td rowspan="6"  style="text-align: center; writing-mode: vertical-rl;">2110</td>
                                <td colspan="2">Sq.Ft. per Window</td>
                                <td >{{ item.size }}</td>
                                <td>Sq.Ft.</td>
                            </tr>
                            <tr style="height: 30px;">
                                <td colspan="2">Unit Price</td>
                                <td >{{ item.unitprice }}</td>
                                <td>Rs.</td>
                            </tr>
                            <tr style="height: 30px;">
                                <td colspan="2">Quantity</td>
                                <td>{{ item.qty }}</td>
                                <td>PCs</td>
                            </tr>
                            <tr style="height: 30px;">
                                <td colspan="2">Value</td>
                                <td>{{ item.value }}</td>
                                <td>
                                    Rs.
                                </td>
                            </tr>
                            <tr style="height: 30px;">
                                <td colspan="2">
                                    Descriptions
                                </td>
                                <td colspan="2">
                                    Accessories
                                </td>
                            </tr>
                            <tr style="height: 300px;">
                                <td colspan="2">
                                    Profile Colour - Golden Oak
                                    Track - Sliding Three Track Frame 50mm
                                    X 106mm
                                    Sliding Ri - 229005-2.0mm
                                    Flyscreen Sash - 103366123
                                    Sliding Sash - 103374123
                                    Flymesh Type - Fiber
                                    6 mm Clear Toughened - 1
                                    Flymesh- 1
                                </td>
                                <td colspan="2">
                                    No. Of Mesh Sash - 1
                                </td>
                            </tr>
                        </table>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
