{% load static %}
<style>  
        table {
            width:100%;
            margin:30px 0px;
        }
        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
        }
        th, td {
            padding: 5px;
            text-align: left;
            max-width: 220px;
            color:black;
        }
        table tr:nth-child(even) {
            background-color: #fff;
        }
        table tr:nth-child(odd) {
           background-color:#e5e9f3;
        }
        table th	{
            background-color: black;
            color: white;
        }
        li{
           
            line-height: 2.5;

        }

</style>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
      rel="stylesheet"
      id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!--Include the above in your HEAD tag -->
<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body p-0">
                    {% for item in data %}
                        <table>
                            <tr >
                                <td colspan="1"><b>Sr.No</b></td>
                                <td colspan="3">w{{forloop.counter}}</td>
                                <td><b>Size</b></td>
                                <td>W X{{ item.w }}</td>
                                <td>H X{{ item.h }}</td>
                                <td>{{today|date:'d-m-y'}}</td>
                            </tr>
                            <tr >
                                <td colspan="1"><b>Location</b></td>
                                <td colspan="3">{{ item.location }}</td>
                                <td><b>Section Details</b></td>
                                <td colspan="3">{{ item.section}}</td>
                            </tr>
                            <tr >
                                <td colspan="4" style="text-align: center; background-color:#fff">{%widthratio item.w 1 25.4%}</td>
                                <td colspan="4" style="background-color:#b0c4de"><b>Computer Values</b></td>
                            </tr>
                            <tr style="height: 20px;">
                                <td colspan="3" rowspan="6" style="text-align: center; max-width:50%">
                                    <img src ="{{ item.product.image }}" style="max-height:500px;">
                                </td>
                                <td rowspan="6"  style="text-align: center; writing-mode: vertical-rl;">{%widthratio item.h 1 25.4%}</td>
                                <td colspan="2">Sq.Ft. per Window</td>
                                <td >{{ item.size }}</td>
                                <td>Sq.Ft.</td>
                            </tr>
                            <tr style="height: 20px;background:#fff">
                                <td colspan="2">Unit Price</td>
                                <td >{{ item.unitprice }}</td>
                                <td>Rs.</td>
                            </tr>
                            <tr style="height: 20px; background:#e5e9f3">
                                <td colspan="2">Quantity</td>
                                <td>{{ item.qty }}</td>
                                <td>PCs</td>
                            </tr>
                            
                            <tr style="height: 20px;background:white">
                                <td colspan="2">Value</td>
                                <td>{{ item.value }}</td>
                                <td>
                                    Rs.
                                </td>
                            </tr>
                            <tr style="height: 20px; background:#b0c4de" >
                                <td colspan="2">
                                    <b>Descriptions</b>
                                </td>
                                <td colspan="2">
                                    <b>Accessories</b>
                                </td>
                            </tr>
                            <tr style="height: 200px;background:white">
                                <td colspan="2" style="
                                vertical-align: top;
                            ">
                                        <ul>
                                        <li> {{ item.product.discription }}</li>
                                            <li>{{ item.shutter}}</li>
                                                <li>{{ item.glass }} Glass Clear </li>
                                        </ul>
                                </td>
                                <td colspan="2" style="
                                vertical-align: top;
                            ">
                                    <ul>
                                {% if item.pl !=  '0.0' %}
                                    <li>pushlock</li>
                                    {% endif %}
                                {% if item.hl !=  '0.0' %}
                                  <li>  handlelock</li>
                                    {% endif %}
                                   
                                   <li> Multipoint Locking System</li>
                                    <li> Heavy Bearings</li>
                                        <li> Standard Hardware</li>
                                    </ul>
                                </td>

                            </tr>
                            
                        </table>

                        
                    {% endfor %}
                </div>
               <!-- *************************************************-->

              <table>
                   <tr>
                   <th colspan="3" style="background-color:#b0c4de">Quote Total</th>
                   <tr>


                    <tr style="background-color:#e5e9f3">
                        <td>Total No. of Windows</td>
                         <td>
                            {{ qty}}
                         </td>
                         <td>PCS</td>
                     </tr>

                     <tr style="background-color:#e5e9f3">
                        <td>Total Area in SQFT</td>
                         <td>
                            {{ sqft}}
                         </td>
                         <td>SQFT</td>
                     </tr>

                     <tr>
                        <td>Basic Value</td>
                         <td>
                            {{total}}
                         </td>
                         <td>INR</td>
                     </tr>

                     <tr style="background-color:#e5e9f3">
                        <td>Average Value per SQFT</td>
                         <td>
                            {{avgvalue}}
                         </td>
                         <td>INR</td>
                     </tr>
                     {% comment %} <tr>
                        <td>Installation Labour</td>
                         <td>
                            {{totallabour}}
                         </td>
                         <td>INR</td>
                     </tr>
                     <tr>
                        
                        <td>Transportation Charges</td>
                         <td>
                            {{total_transport_charge}}
                         </td>
                         <td>INR</td>
                     </tr> {% endcomment %}
                     
                 <tr>
                     <td>Value</td> <!--total of all values-->
                     <td> {{ finalvalue}}</td>
                     <td>INR</td>
                 </tr>

                 <tr>
                    <td>GST ( CGST + SGST ) 18%</td> <!--total of all values-->
                    <td> {{gst}}</td>
                    <td>INR</td>
                </tr>

                <tr style="background-color:#e5e9f3">
                    <td><b>Grand Total</b></td> <!--total of all values-->
                    <td><b> {{summery}}</b></td>
                    <td>INR</td>
                </tr>

                 
             </table>
               <!-- *****************************************************-->
            </div>
        </div>
    </div>
</div>
